<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="propertyPlaceholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/agent.properties</value>
            </list>
        </property>
    </bean>

    <import resource="conf/controllers-config.xml" />
    <import resource="conf/availability.xml" />
    <!--<bean id="webXmlPlaceholder" class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer">-->
        <!--<property name="location" value="classpath:/config.properties" />-->
    <!--</bean>-->

    <bean id="servletContext" class="org.springframework.web.context.support.ServletContextFactoryBean" />

    <!--Commented out until we actually have an inline pdf conversion service.-->
	<!--<bean id="pdfDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">-->
		<!--<property name="jndiName"><value>java:comp/env/jdbc/pdfconverter</value></property>-->
	<!--</bean>-->

    <bean id="appInjector" class="au.edu.une.monitor.utility.WebAppSetup">
        <property name="toSet">
            <map>
                <entry key="version" value="${version}" />
            </map>
        </property>
    </bean>
</beans>
